body{
    
    margin: auto;
    text-align: center;
    color: white;
    background-color: #190e30;
    animation-name: color-change;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
  }

  nav{
    display: flex;
    color: white;
    justify-content: space-around;
    background-color: rgb(20, 7, 40);
    font-weight: bold;
    padding: 10px 10px;
  }
  .fix-position{
    position: fixed;
    top: 0;
    width: 100%;
}

nav div :hover{
    font-size: x-large;
    color: rgb(206, 172, 51);
    border-radius: 5px;
    text-shadow: yellow;
    cursor: pointer;
}
.nav_class{
    margin-left: 5em;
    padding: 10px;
    margin-right: 10px;
}

  #super-hero-container{
    display: block;
    justify-content: space-evenly;
    width: 75%;
    margin: auto;
    padding-top: 5px;
  }

  #container{
    position: relative;
    display: inline-block;
  }

  #search_box{
    width: 40%;
    height: 2px;
    margin-top: 10rem; 
    margin:0 auto;
    border-radius: 15px;
    display: block;
     padding: 1%;
    
}
#search-container{
    position: relative;
    display: inline-block;
  }
  
  #search-box{
    width: 420px;
    padding: 15px 25px;
    /* border-radius: 25px; */
    border: 1px solid #0A1F44;
    font-size: 1rem;
    letter-spacing: 0.05rem;
  }
  
  #search-box:focus{
    outline: none;
  }
  
  #searchResults{
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 400px;
    overflow-y: scroll;
  }
  
  #searchResults div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }

#left{
    display: inline-block;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    width: 30%;
    margin-top: 3rem;
  }

  #image{
    width: 350px;
    height: 250px;
  }
  
  #img{
    width: 100%;
    height: auto;
    object-fit: cover;
    animation:img-animation;
    animation-duration: 4s;
    animation-delay: 2.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;

  }
  
  #main{
    display: flex ;
    flex-direction: column;
    text-align: center;
    padding-top: 25px;
    width: 100%;
  }
  
  #hero-name{
    font-size: 2rem;
    font-weight: bold;
    padding: 10px 0;
    margin-left: 25px;
    color: yellow;
    border-style: solid;
    border-color: blue;
    font-style: oblique;
    font-family: cursive;
  }

  .heading{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 0;
  }

  #right{
    display: flex;
    text-align: left;
    justify-content: space-evenly;
    font-size: 1.7rem;
  }
  
  /* Red, orange, yellow, green, blue, indigo, violet */
  #right div{
    padding: 10px 10px;
  }

  #right div:first-of-type{
    color: hotpink;
  }

  #right div:nth-of-type(2) {
    color: red;
  }
  
  #right div:nth-of-type(3){
    color:orange;
  }
  
  #right div:nth-of-type(4) {
    color:yellow;
  }
  
  #right div:nth-of-type(5) {
    color:green;
  }
  #right div:nth-of-type(6) {
    color:blue;
  }
  #right div:nth-of-type(7) {
    color:indigo;
  }
  #right div:nth-of-type(8) {
    color:violet;
  }
  
.search-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }
  
  @keyframes color-change {
        from {background-color: 190e30;}
    to {background-image: linear-gradient(-45deg, red,black,rgb(133, 11, 11))}
  }
    
  @keyframes img-animation {
    from{ width: 100%;}
    to{width: 50%;}

  }
  
  #favourite-heros{
    display: flex;
    width: 80%;
    margin: 10rem auto;
    min-width: 480px;
    align-items: center;
    justify-content: center;
    /* flex-direction:column; */
    padding: 2rem;
    /* margin-left: 100rem; */
  }
  
  
  .hero-details{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
  }
  
  .hero-img-container{
    height: 270px;
    width: 210px;
  
  }
  
  .hero-img-container img{
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  .hero-img-container:hover{

    height: 470px;
    width: 450px;
  }

  
.info{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 35px;
  margin-top: -35px;
}

.hero-name{
  font-size: 1.5rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  padding: 10px;
}

.hero-name:hover{
  font-size: 3rem;
  color: cyan;
}
.remove-fav{
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #430a99;
  padding: 15px;
  color: #FFFFFF;
  border-radius: 5px;
}

.remove-fav:hover{
  background-color: #C75C71;
  cursor: pointer;
}

span a{
  font-size: 25px;
  font-weight: bolder;
  color:rgb(5, 5, 5) ;
  margin-top: 15px;
}
span a:hover{
  color: yellow;
  font-size:30px;
}

#title{
  padding: 10px;
}
    